In [1]:
import pandas as pd

In [13]:
# import data from csv file
data = pd.read_csv("C:/Users/mings/OneDrive/Documents/Iron hack/Unit 7/W15D3/lab-t-tests-p-values/machine.txt", delimiter=";")
data

   New machine  Old machine
0         42.1         42.7
1         41.0         43.6
2         41.3         43.8
3         41.8         43.3
4         42.4         42.5
5         42.8         43.5
6         43.2         43.1
7         42.3         41.7
8         41.8         44.0
9         42.7         44.1

In [16]:
mean_new_machine = data["New machine"].mean()
mean_new_machine

42.14

In [18]:
mean_old_machine = data["Old machine"].mean()
mean_old_machine

43.230000000000004

In [20]:
std_new_machine = data["New machine"].std()
std_new_machine

0.6834552736727638

In [21]:
std_old_machine = data["Old machine"].std()
std_old_machine

0.7498888806572157

Null hypothesis - The new machine's speed is the same as the old machine's speed

H0 μ1 ≥ μ2

Alternative hypothesis - The new machine is quicker than the old machine

H1 μ1 < μ2

In [28]:
from scipy.stats import ttest_ind

# Calculation of t-test

t_stat, p_value = ttest_ind(data["New machine"], data["Old machine"], alternative='less')

print(f"t-statistic: {t_stat}")
print(f"p-value: {p_value}")

t-statistic: -3.3972307061176026
p-value: 0.0016055712503872579

In [30]:
if p_value < 0.05:
    print("We reject Null Hypothesis")
else:
    print("We cannot reject Null Hypothesis")

We reject Null Hypothesis